@{
    ViewBag.Title = "About";
}
    <h2 style="color:#228A22">Acerca de Nosotros</h2>
    <div style="background-color:#F6E228">.</div>
    <h3 style="color: #F6E228">Zapatoca</h3>

    <p>Somos un mercado 100% colombiano ubicado en Bogotá y Cundinamarca que tiene como propósito satisfacer las necesidades de nuestra comunidad, clientes, colaboradores y proveedores.</p>
    <p>Ofrecemos un surtido completo en secciones como frutas y verduras, alimentos empacados y abarrotes, carnes frescas, panadería, droguería, salud y cuidado personal, electrodomésticos, aseo del hogar, juguetería, escolar, textiles, licores y demás secciones para satisfacer a toda la familia brindando excelente servicio, variedad y calidad al mejor precio.</p>