@{
    ViewBag.Title = "Contact";
}
<h2 style="color:#228A22">Contactanos</h2>
<h3 style="color: #F6E228">Medios de contacto</h3>

<address>
     <br />
    Telefono, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Correo servicio al cliente:</strong>   <a >zapatocaservicio@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@gmail.com</a>
</address>