
@{
    ViewBag.Title = "Home Page";

}

@Styles.Render("~/Content/index.css");
    <div class="jumbotron" style="background-color:#F1C80D">
        <h1 style="color:#99B325">INVENTARIO ZAPATOCA</h1>
        <p class="lead">Bienvenido al sistema de inventario del supermercado Zapatoca SA.</p>
        <p class="lead">
            Este sistema de inventario esta desarrollado unico y exclusivamente para los
            propietarios y administradores del supermercado zapatoca, si usted por algun motivo
            logro acceder sin hacer parte de alguno de estos dos ultimos a los cuales se hace
            referencia, por favor salga del sistema y no haga mal uso de esta aplicacion web.
        </p>
        <p class="lead">Si deseas continuar por favor clickee el boton "Continuar" y podra acceder al inventario del supermercado.</p>
        <p><a href="/PrimeraClasses/index" class="btn btn-primary btn-lg" style="background-color: #219647">Continuar &raquo;</a></p>
    </div>
    
