@model Proyecto_Inventarios.Models.Bodegas_Inventarios.Bjuguetes

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro que quieres eliminar este articulo?</h3>
<div>
    <h4>Bodega juguetes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo de producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoproducto)
        </dd>
        <dt>
            Cantidad existente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantexistente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
